@use '../../../styles' as *;

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
}

@media (max-width: $mobileBP) {
  .card {
    padding: 24px;
  }
}
