@use '../../styles' as *;

.footer {
  grid-area: footer;
  color: $white;
  background-color: $lightTeal;
  grid-column: 2 / 2;
  grid-row: 2;
}

.item {
  opacity: 0.75;
  font-size: 14px;
  letter-spacing: -0.17px;
  line-height: 20px;
}

@media (max-width: $mobileBP) {
  .footer {
    grid-column: 1;
    grid-row: 3;
  }
}
