@use '../../styles';

.footer {
  grid-area: footer;
  color: styles.$white;
  background-color: styles.$lightTeal;
  grid-column: 2 / 2;
  grid-row: 2;
}

.item > small {
  opacity: 0.75;
}

@media (max-width: styles.$mobileBP) {
  .footer {
    grid-column: 1;
    grid-row: 3;
  }
}
