@use '../../styles' as *;

.header {
  border-radius: 8px 8px 0 0;
  grid-area: header;
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color: $white;
}

.title {
  color: $cyan;
}

.subtitle {
  color: $yellow;
}

.description {
  color: $grey;
}

@media (max-width: $mobileBP) {
  .header {
    padding: 28px;
  }
}
