@use '../../styles';

.header {
  grid-area: header;

  h1 {
    color: styles.$cyan;
  }
  h2 {
    color: styles.$yellow;
  }
  p {
    color: styles.$grey;
  }
}

@media (max-width: styles.$desktopBP) {
  .header {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
}

@media (max-width: styles.$mobileBP) {
  .header {
    grid-column: 1;
    grid-row: 1;
    padding: 28px 24px 40px 24px;
  }
}
