@use '../../styles';

.section {
  color: styles.$white;
  background-color: styles.$cyan;
  grid-area: section;
  grid-column: 1 / 2;
  grid-row: 2;
}

.title {
  margin-bottom: 24px;
}

.subtitle {
  margin-bottom: 26px;
}

.pricePerMonth {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.price {
  display: flex;
  align-items: center;
  font-size: 32px;
  margin-right: 5px;
}

.per {
  opacity: 50%;
}

@media (max-width: styles.$mobileBP) {
  .section {
    grid-column: 1;
    grid-row: 3;
  }
}
