@use '../styles' as *;

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: $mobileBP) {
  .home {
    min-height: 100vh;
    justify-content: center;
  }
}
