@use '../styles' as *;

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: $mobileBP) {
  .home {
    margin: 3px;
  }
}
