// primary
$cyan: hsl(179, 62%, 43%);
$lightTeal: hsl(179, 48%, 52%);
$yellow: hsl(71, 73%, 54%);

// neutral
$white: hsl(0, 0%, 100%);
$grey: hsl(218, 19%, 75%);
$darkGrey: hsl(218, 22%, 67%);
$background: hsl(206, 47%, 93%);
