@use '../../../styles';

.button {
  background-color: styles.$yellow;
  font-weight: 700;
  width: 237px;
  height: 48px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: styles.$white;
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 9.73%);

  &:hover {
    cursor: pointer;
    background-color: darken(styles.$yellow, 7%);
  }
}
