@use '../../../styles';

.button {
  background-color: styles.$yellow;
  width: 237px;
  height: 48px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: styles.$white;
  @include styles.shadow;
  &:hover {
    cursor: pointer;
      background-color: darken(styles.$yellow, 7%);
  }
}
